@import "./colors";

.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 0rem 5rem;

  .resultsContainer {
    .link {
      color: $secondary-accent-color;
      font-size: 0.8rem;
      margin-bottom: 0;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.5rem;
      color: $accent-color;
    }

    p {
      margin-top: 0.5rem;
      color: $font-color-dark;
    }
  }
}

.searchContainerImages {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  a {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      height: 150px;
      width: 200px;
      margin: 0px 1px;
      border-radius: 10px;
      box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.212);
    }

    p {
      margin-left: 30px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
}
